/* Default (light mode) styles */
body {
  background-color: white; /* Light background */
  color: black; /* Light text */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Dark mode styles */
.dark-mode body {
  background-color: #121212; /* Dark background */
  color: white; /* Light text */
}

button {
  padding: 10px;
  margin-top: 20px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}
